
@media only screen and (max-width: 1366px) {
	.imgProjectRWD {
	  width: 840px;
	  height: 560px;
	  background-size: contain;
	}
}


@media only screen and (max-width: 1320px) {


	.imgProjectRWD {
	  width: 774px;
	  height: 516px;
	  background-size: contain;

	  top: 30px;
	}
}


@media only screen and (max-width: 1200px) {
	.imgProjectRWD {
	  width: 762px;
	  height: 508px;
	  background-size: contain;

	  top: 50px;
	}
}

@media only screen and (max-width: 1050px) {
	
}


/* iPad only */
@media only screen and (max-width: 1024px) and (min-height: 768px) {
}


@media only screen and (max-width: 980px) {


}


/* <= iPad Width */
@media only screen and (min-width: 415px) and (max-width: 768px) {
	

}
